@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";

.index-page {
  background-color: $colorWhite;
  color: $colorMainFont;
  font-family: $mainFont;
  margin: 0 auto;
  min-width: 320px;
  @include flex-column;
  box-sizing: border-box;
  position: relative;
  max-width: 1920px;
  overflow-x: hidden;
}


a:hover {
  cursor: pointer;
}

/* font */
h1 {
  text-transform: uppercase;
  color: $coloringViolet;
  font-size: calc(24px + 24 * (100vw - 320px) / 1600);
  line-height: clamp(24.2px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 58.51px);
  font-weight: $fontWeightBold;
}

.h36 {
  color: $coloringViolet;
  font-size: calc(20px + 16 * (100vw - 320px) / 1600);
  line-height: clamp(29.26px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 43.57px);
  font-weight: $fontWeightMedium;
}

.p17 {
  font-size: calc(12px + 5 * (100vw - 320px) / 1600);
  line-height: clamp(15.6px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 22.1px);
  color: $colorFontCategories;
  font-weight: $fontWeightRegular;
}

.p19 {
  font-size: calc(12px + 7 * (100vw - 320px) / 1600);
  line-height: clamp(14.63px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 23.16px);
  font-weight: $fontWeightRegular;
  text-align: center;
}

.p20 {
  font-size: calc(12px + 5 * (100vw - 320px) / 1600);
  line-height: clamp(14.63px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 20.72px);
  font-weight: $fontWeightRegular;
}

.p12 {
  font-size: calc(10px + 2 * (100vw - 320px) / 1600);
  line-height: clamp(12.19px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 14.63px);
  font-weight: $fontWeightRegular;
}

.h20 {
  font-size: calc(15px + 5 * (100vw - 320px) / 1600);
  line-height: clamp(18.29px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 24.38px);
  font-weight: $fontWeightMedium;
}

.h19 {
  font-size: calc(15px + 4 * (100vw - 320px) / 1600);
  line-height: clamp(18.29px, calc(1.5em + 0.3 * (100vw - 320px) / 1600), 23.16px);
  font-weight: $fontWeightRegular;
  color: $colorFontCategories;
}

.b1 {
  font-size: 17px;
  line-height: 22.1;
  font-weight: $fontWeightMedium;
  color: $colorWhite;
}

.span12 {
  font-size: 12px;
  font-weight: $fontWeightLight;
  line-height: 15.6px;
  color: $colorMainFont;
}

/* /font/ */

/* img */
img {
  object-fit: contain;
  width: 100%;
}

/* /img */

/* grid-container */
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(150px, 320px));
  justify-content: center;

  &__group {
    @include flex-column;
    align-items: center;
    gap: 8px;
    padding: 20px 22px 31px;
    @include borderGroup(33px, 1px, $colorBorder);

    &:hover {
      cursor: pointer;
      @include border(2px, $coloringViolet);
    }

    &-articles {
      position: relative;
      padding: 0 0 37px;
      @include flex-column;
      align-items: center;
      gap: 22px;

      &.hovered {
        box-shadow: $boxShadow;
        cursor: pointer;
        border-radius: 40px;
      }
    }
  }

  &__block {
    @include flex-column;
    gap: 8px;
    padding: 0 12px;
  }

  &__articles {
    grid-template-columns: repeat(3, minmax(300px, 430px));
  }
}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(150px, 320px));
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    &__articles {
      grid-template-columns: repeat(2, minmax(300px, 430px));
    }
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(150px, 320px));
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    &__articles {
      @include flex-row;
    }

    &__group-articles {
      width: 300px !important;
      gap: 12px;
    }

    &__block {
      gap: 4px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

/* /grid-container */

/* coloring-pages */
.coloring-pages {
  &__container {
    position: relative;
    background-color: $coloringPagesFon;
    padding: 100px 16% 151px;
    @include container(40px);

    & img {
      margin: auto;
    }
  }
}


@media screen and (max-width: 500px) {
  .coloring-pages {
    &__container {
      padding: 50px 10px 114px;
      gap: 20px;
    }
  }
}

/* /coloring-pages */

/* triangle */
.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid white;
}

.triangle__two {
  position: absolute;
  top: 0; /* Выравниваем по верхнему краю */
  left: calc(50% - 50vw); /* Прижимаем угол к левому краю */
  width: 0;
  height: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-top: 30px solid white; /* Заменяем border-bottom на border-top */
}


/* /triangle */

/*articles */
.articles {
  overflow: hidden;

  &__container {
    padding: 50px 16% 60px;
    @include container(10px);
  }

  & h1 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .articles {
    &__container {
      padding-top: 60px;
      padding-left: 10px;
      padding-right: 0;
      @include container(20px);
    }

    & h1 {
      margin-bottom: 0;
    }
  }
}

/* /articles */

/* button */
.button {
  margin: 0 auto;
  border-radius: 37px;
  width: 180px;
  height: 48px;
  background-color: $coloringViolet;
  @include flex-center;
  padding: 0;
  &:hover {
    cursor: pointer;
    background-color: $colorWhite;
    color: $colorFontCategories;
    @include border(1px, $coloringViolet);
  }
}

.button__arrow {
  background-color: $colorWhite;
  position: absolute;
  top: 20px;
  right: 28px;
  border-radius: 12px;
  width: 34px;
  height: 36px;

  & div {
    background-image: url("/assets/img/arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
  }

  &:hover {
    cursor: pointer;
    background-color: $coloringViolet;

    & div {
      background-image: url("/assets/img/arrowWhite.svg");
    }
  }
}


@media screen and (max-width: 700px) {
  .button__arrow {
    top: 10px;
    right: 18px;
  }
}


.up-arrow {
  z-index: 98;
  position: fixed;
  bottom: 192px;
  right: 40px;
  background-image: url("/assets/img/arrowUp.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 60px;
  height: 60px;
  @include flex-center;

  &:hover {
    cursor: pointer;
    background-image: url("/assets/img/arrowUpHover.svg");
  }
}


@media screen and (max-width: 900px) {
  .up-arrow {
    width: 50px;
    height: 50px;
    bottom: 253px;
  }
}

@media screen and (max-width: 500px) {
  .up-arrow {
    width: 40px;
    height: 40px;
    right: 10px;
  }
}

/* /button */

.swiper-pagination {
  display: none;
}

@media screen and (max-width: 800px) {
  .pagination {
    text-align: center;
    display: block;
    position: relative;
  }
}

.swiper-pagination-bullet {
  background-color: $colorBorder;
  width: 8px;
  height: 8px;

  &-active {
    background-color: $coloringViolet;
  }
}

/* categories */
.categories {
  &__container {
    padding: 0 16% 60px;
    @include container(40px);
  }

  &__block {
    @include flex-column();
    gap: 20px;
  }

  &__groups {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(150px, 320px));
    gap: 10px;
  }

  &__group {
    @include flex-column();
    justify-content: space-between;
    gap: 12px;
    background-color: $colorFonCategories;
    padding: 20px;
    border-radius: 40px;

    &:hover {
      box-shadow: $boxShadow;
      cursor: pointer;
    }
  }

  &__info {
    @include container(20px);
    margin-top: 20px;
  }

  h3 {
    color: $colorFontCategories;
  }

  img {
    border-radius: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .categories {
    &__groups {
      grid-template-columns: repeat(2, minmax(150px, 320px));
    }
  }
}

@media screen and (max-width: 600px) {
  .categories {
    &__container {
      padding-left: 10px;
      padding-right: 10px;
      gap: 20px;
    }

    &__groups {
      display: grid;
      gap: 10px;
    }

    &__block {
      gap: 12px;
    }

    &__group {
      border-radius: 20px;
      padding: 8px;
      gap: 4px;
    }

    & img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 500px) {
  .categories__info {
    display: none;
  }
}

/*/categories */


/* footer */
.footer {
  &__container {
    position: relative;
    background-color: $coloringPagesFon;
    padding: 64px 16% 43px;
    @include flex-row;
    justify-content: space-between;
  }

  &__block {
    @include flex-row;
    gap: 48px;
  }

  &__group {
    @include flex-column;
    gap: 12px;
  }

  & p {
    width: 70%;
  }

  &__icon {
    @include flex-row;
    gap: 8px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &_active {
      display: none;
    }
  }

  & a {
    width: 32px;
    height: 32px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    &__container {
      padding-right: 100px;
      padding-left: 100px;
    }

    & p {
      width: 50%;
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    &__container {
      padding: 87px 10px 46px;
    }

    &__block {
      gap: 14px;
    }

    &__group {
      gap: 8px;
    }

    &__icon {
      display: none;

      &_active {
        @include flex-row;
        margin-top: 4px;
        gap: 8px;
      }
    }

    & p {
      width: 100%;
    }
  }
}

/* /footer */

/* logo */

.logo {
  width: 164px !important;
  height: 30px !important;
}

@media screen and (max-width: 500px) {
  .logo {
    width: 112.51px !important;
    height: 20.45px !important;
  }
}

/* /logo */

/* header */
.header {
  &__container {
    padding: 0 0 30px;
    @include flex-column;
  }

  &__block {
    @include flex-row;
    align-items: center;
    gap: 158px;
    padding: 16px 16% 16px;
    background-color: $colorHeaderFon;
  }

  &__nav {
    border-bottom: 1px solid $colorBorderBottom;
    padding: 25px 16% 22px;
  }

  &__list {
    @include flex-row;
    justify-content: space-between;
  }

  &__items {
    position: relative;
  }
  &__group {
    &:hover{
      .h19 {
        color: $coloringViolet;
      }
    }
  }
  &__row {
    width: max-content;
    display: none;
    position: absolute;
    left: -30px;
    top: 100%;
    box-shadow: $boxShadow;
    padding: 8px;
    border-radius: 20px;
    z-index: 100;
    background-color: $colorWhite;
    &.hovered {
      display: block;
      a {
        font-weight: $fontWeightMedium !important;
      }
    }
    & li {
      padding: 12px;
        &:hover {
          cursor: pointer;
          border-radius: 12px;
          background-color: $coloringPagesFon;
      }
    }
  }
}
.button-menu {
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: auto;
  background-color: $coloringViolet;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 8px;
  & img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  &__burger img {
    width: 19.5px;
    height: 15px;
  }
  &:hover {
    cursor: pointer;
    background-color: $colorBorder;
  }
}


@media screen and (max-width: 900px) {
  .button-menu {
    display: flex;
  }
}

.arrow {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 7.5px 3px;
  background-color: transparent;
  width: 18.3px;
  height: 9.3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/img/header/arrowUpViolet.svg");
}

.arrow__img-two {
  background-image: url("/assets/img/header/arrowDownViolet.svg");
}
@media screen and (max-width: 1550px) {
  .header {
    &__block {
      gap: 10%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__block {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    &__container {
      padding: 0;
    }
    &__nav {
      display: none;
      flex-direction: column;
      gap: 20px;
      padding: 40px 10px 290px;
      position: fixed;
      z-index: 101;
      top: 0;
      right: 0;
      border-radius: 20px 0 0 20px;
      background-color: $colorWhite;
      width: 90%;
      border-bottom: 0;

    }
    &__list {
      flex-direction: column;
      gap: 8px;
    }

    &__items {
      padding-bottom: 14px;
      border-bottom: 1px solid $colorBorder;
      gap: 12px;
      @include flex-column;
    }
    &__block {
      padding-top: 10px;
      padding-bottom: 8px;
      @include flex-column;
      gap: 10px;
    }
    &__group {
      @include flex-row;
      justify-content: space-between;
      align-items: center;
    }



    &__row {
      position: relative;
      top: 0;
      left: 0;
      box-shadow: none;
      padding: 0;
      border: 0;
    }
  }
  .cross, .arrow {
    display: block;
  }
}


@media screen and (max-width: 500px) {
  .header {
    &__block {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* /header */
.search-form {
  width: 100%;
  @include flex-row;
  padding-right: 19%;
  gap: 10px;

  &__container {
    width: -webkit-fill-available;
    @include flex-row;
    justify-content: space-between;
    @include borderGroup(40px, 1px, $colorBorder);
    background-color: $colorWhite;
    padding: 12px 10px;

    & input {
      width: 85%;
    }
    &:hover {
      border-color: $coloringViolet;
    }
  }

  &__button {
    margin: 0;
  }
}

.search-button {
  background-size: cover;
  background-image: url("/assets/img/header/iconSearch.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: transparent;
  &.hovered {
    background-image: url("/assets/img/header/iconSearchHover.svg");
  }
  &__popup {
    background-image: url("/assets/img/header/iconSearchHover.svg");
  }

  &__sound {
    background-image: url("/assets/img/header/soundSearch.svg");
    &.hovered {
      background-image: url("/assets/img/header/soundSearchHover.svg");
    }
  }
}

@media screen and (max-width: 1200px) {
  .search-form {
    padding-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .search-form {
    gap: 5px;
    &__button {
      display: none;
    }
    &__container {
      width: 90%;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  .search-button {
    width: 20px;
    height: 20px;
  }
  .burger {
    display: block;
  }
}


/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 99;
}


.popup {
  width: 100%;
  &__block {
    display: none;
    padding: 16px 1px 0;
    z-index: 50;
    background-color: $colorWhite;
    top: 90px;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
  &__item {
    @include flex-row;
    gap: 25px;
    padding-bottom: 8px;
    border-bottom: 1px solid $colorBorder;
  }
}
.popup__active {
  background-color: $colorWhite;
  padding: 8px 10px 36px;
  border-radius: 20px;
}
