extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';



block content
    button.up-arrow

    section.coloring-pages.coloring-pages__two-page
        div.coloring-pages__container.coloring-pages__container_three(style="background-color: white")
            h1 Для детей
            div.categories__info.categories__info_active(style="margin-top: 0")
                p.p20 Добро пожаловать в мир волшебства и творчества с нашей коллекцией детских раскрасок! Здесь вы найдёте увлекательные изображения, которые подарят вашим малышам часы радости и веселья. Наши раскраски не только развлекут, но и разовьют моторику, воображение и цветовое восприятие вашего ребёнка.
                p.p20 Почему детские раскраски так важны для развития вашего малыша? Это прекрасный способ улучшить мелкую моторику рук, координацию движений и развить творческие способности. Вместе с тем, раскрашивание изображений учит детей концентрации, терпению и вниманию к деталям.
            div.coloring-pages__blocks
                h2.h36 Мультфильмы
            div.grid-container.grid-container__cartoons
            button.button.b1.button__cartoons(type="submit") Показать еще

block script
    script(type='text/javascript')
