footer.footer
    div.footer__container
        div.triangle.triangle__two
        div.footer__block
            div.footer__group
                a.logo(href="/")
                span.span12 © 2024 ColorFun.ru
                div.footer__icon.footer__icon_active
                    a(href="/index-tags.html")
                        img(src="assets/img/footer/telegramTwo.svg" alt="иконка Телеграмма")
                    a(href="index-tags.html")
                        img(src="assets/img/footer/vkTwo.svg" alt="иконка вКонтакте")
            p.p12 Изображения и объекты в раскрасках на нашем сайте, которые могут быть защищены авторским правом, используются исключительно в некоммерческих и образовательных целях. Если вы обладаете правами на любой из материалов и считаете, что их использование нарушает ваши права, пожалуйста, свяжитесь с нами для оперативного решения вопроса.
        div.footer__icon
            a(href="/index-tags.html")
                img(src="assets/img/footer/telegram.svg" alt="иконка Телеграмма")
            a(href="/index-tags.html")
                img(src="assets/img/footer/vk.svg" alt="иконка вКонтакте")
