footer.footer
    div.footer__container
        div.triangle__two
        div.footer__block
            div.footer__group
                img.logo(src="/assets/img/logo.svg" alt="logo")
                span.span12 © 2024 ColorFun.ru
                div.footer__icon.footer__icon_active
                    a(href="#")
                        img(src="/assets/img/telegramTwo.svg" alt="иконка Телеграмма")
                    a(href="#")
                        img(src="/assets/img/vkTwo.svg" alt="иконка вКонтакте")
            p.p12 Изображения и объекты в раскрасках на нашем сайте, которые могут быть защищены авторским правом, используются исключительно в некоммерческих и образовательных целях. Если вы обладаете правами на любой из материалов и считаете, что их использование нарушает ваши права, пожалуйста, свяжитесь с нами для оперативного решения вопроса.
        div.footer__icon
            a(href="#")
                img(src="/assets/img/telegram.svg" alt="иконка Телеграмма")
            a(href="#")
                img(src="/assets/img/vk.svg" alt="иконка вКонтакте")
