header.header
    div.header__container.header__container_not-found
        div.header__block.header__block_not-found
            a.logo(href="#")
            div.header__img-not-found
                img(src='/assets/img/404.png' alt='picture not-found error')
