div.overlay
header.header
    div.header__container
        div.header__block
            a.logo(href="/")
            div.popup
                form.search-form
                    div.search-form__container
                        button.search-button(type="submit")
                        input.p17#myInput(type="text" name="search")
                        button.search-button.search-button__sound(type="submit")
                    button.button.b1.search-form__button(type="submit") Найти
                    button.button-menu.button-menu__burger(type="submit")
                        img(src='assets/img/header/burger.svg' alt='picture burger menu')
                div.popup__block
                    div.popup__item
                        button.search-button.search-button__popup(type="submit")
                        p.p17 Кот в сапогах
                    div.popup__item
                        button.search-button.search-button__popup(type="submit")
                        p.p17 Кот в сапогах
        nav.header__nav
            button.button-menu.button-menu__cross
                img(src='assets/img/header/cross.svg' alt='picture cross')
            ul.header__list
                li.header__items
                    div.header__group
                        a.h19(href="/index-blog") Блог
                li.header__items
                    div.header__group
                        a.h19(href="/index-cartoons") Для детей
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="/index-cartoons") Мультфильмы
                        li
                            a.h19(href="/index-tags") Видеоигры
                        li
                            a.h19(href="/index-tags") Животные
                        li
                            a.h19(href="/index-tags") Природа
                li.header__items
                    div.header__group
                        a.h19(href="/index-coloring") Для взрослых
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="/index-coloring") Сложные узоры
                        li
                            a.h19(href="/index-coloring") Мандалы
                        li
                            a.h19(href="/index-coloring") Зен-раскраски
                li.header__items
                    div.header__group
                        a.h19(href="/index-headings") Праздники
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="/index-headings") Рождество
                        li
                            a.h19(href="/index-headings") Новый год
                        li
                            a.h19(href="/index-headings") Хэллоуин
                        li
                            a.h19(href="/index-headings") День святого Валентина
                li.header__items
                    div.header__group
                        a.h19(href="/index-search") Интересы
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="/index-search") Динозавры
                        li
                            a.h19(href="/index-search") Космос
                        li
                            a.h19(href="/index-search") Машины
                        li
                            a.h19(href="/index-search") Фэнтези
                li.header__items
                    div.header__group
                        a.h19(href="/index-search") Обучающие
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="/index-tags") Алфавит
                        li
                            a.h19(href="/index-tags") Числа
                        li
                            a.h19(href="/index-tags") Формы
                        li
                            a.h19(href="/index-tags") География

                li.header__items
                    div.header__group
                        a.h19(href="/index-authorization") Регистрация
