div.overlay
header.header
    div.header__container
        div.header__block
            a.logo(href="#")
            div.popup
                form.search-form
                    div.search-form__container
                        button.search-button(type="submit")
                        input.p17#myInput(type="text" name="search")
                        button.search-button.search-button__sound(type="submit")
                    button.button.b1.search-form__button(type="submit") Найти
                    button.button-menu.button-menu__burger(type="submit")
                        img(src='/assets/img/header/burger.svg' alt='picture burger menu')
                div.popup__block
                    div.popup__item
                        button.search-button.search-button__popup(type="submit")
                        p.p17 Кот в сапогах
                    div.popup__item
                        button.search-button.search-button__popup(type="submit")
                        p.p17 Кот в сапогах
        nav.header__nav
            button.button-menu.button-menu__cross
                img(src='/assets/img/header/cross.svg' alt='picture cross')
            ul.header__list
                li.header__items
                    div.header__group
                        a.h19(href="#") Блог
                li.header__items
                    div.header__group
                        a.h19(href="#") Для детей
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="#") Мультфильмы
                        li
                            a.h19(href="#") Видеоигры
                        li
                            a.h19(href="#") Животные
                        li
                            a.h19(href="#") Природа
                li.header__items
                    div.header__group
                        a.h19(href="#") Для взрослых
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="#") Сложные узоры
                        li
                            a.h19(href="#") Мандалы
                        li
                            a.h19(href="#") Зен-раскраски
                li.header__items
                    div.header__group
                        a.h19(href="#") Праздники
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="#") Рождество
                        li
                            a.h19(href="#") Новый год
                        li
                            a.h19(href="#") Хэллоуин
                        li
                            a.h19(href="#") День святого Валентина
                li.header__items
                    div.header__group
                        a.h19(href="#") Интересы
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="#") Динозавры
                        li
                            a.h19(href="#") Космос
                        li
                            a.h19(href="#") Машины
                        li
                            a.h19(href="#") Фэнтези
                li.header__items
                    div.header__group
                        a.h19(href="#") Обучающие
                        button.arrow
                    ul.header__row
                        li
                            a.h19(href="#") Алфавит
                        li
                            a.h19(href="#") Числа
                        li
                            a.h19(href="#") Формы
                        li
                            a.h19(href="#") География

                li.header__items
                    div.header__group
                        a.h19(href="#") Контакты
