div.popup__not-found
    div.popup__container
        div.popup__cross
            img(src='/assets/img/cross.svg' alt='picture cross')
        h2.h64 Увы, ничего не нашлось
        p.p19x Напишите, что именно вы искали, и мы в скором <br> времени добавим это на сайт
        form.search-form.popup__search-form
            div.search-form__container
                input.p17#inputPopup(type="text" name="search")
                button.search-button.search-button__sound(type="submit")
            button.button.b1(type="submit") Отправить
