extends ../layout/emptiness

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';
    - var imagesData = require('../../js/imagesData.json');

block content
    section.not-found
        div.not-found__container
            h2.h64 Ой, кажется, мы вышли за рамки!
            p.p19x.not-found__text Страница, которую вы искали, не найдена, но не волнуйтесь! Возможно, она просто смазалась, как свежие краски на рисунке. Пока мы разбираемся, предлагаем вам вернуться на главную страницу и выбрать одну из множества ярких и весёлых раскрасок, которые точно на месте.
            a.button.b1.button__not-found(href="/index") Вернуться на главную
            p.p19x.not-found__text.not-found__text_one Или вы можете воспользоваться самыми популярными раскрасками на <span class='p19x'>ColorFan.ru</span>
            div.grid-container
                each imageData in imagesData.slice(0,4)
                    div.grid-container__group
                        img(src=imageData.src, alt=imageData.text)
                        p.p19=imageData.text
block script
    script(type='text/javascript')
