extends ../layout/form

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';
    - var imagesData = require('../../js/imagesData.json');
    - var articles = require('../../js/articles.json');
    - var categoriesHolidays = require('../../js/categoriesHolidays.json');
    - var categoriesChildren = require('../../js/categoriesChildren.json');

block content
    button.up-arrow

    section.form
        div.form__container
            form(class="form__wrapper" id="form-reg")
                div(class="form__group")
                    h2 Регистрация
                div(class="form__item")
                    input(name="name" type="text" id="exampleInputName1" placeholder="Name Surname" minLength="3"  maxLength="40" required)
                div(class="form__item")
                    input(name="email" type="email" id="exampleInputEmail1" placeholder="Email" minLength="6" maxLength="40" required)
                div(class="form__item")
                    input(name="phone" type="tel"  id="phone" placeholder="Phone" required)
                div(class="form__item")
                    input(name="password" type="password" id="exampleInputPassword" placeholder="Password" minLength="6" maxLength="40" required)
                div(class="form__checkbox")
                    input(type="checkbox" id="scales" name="scales" required checked)
                    label(for="scales" id="checkboxLabel") Я согласен с условиями
                button(type="submit" class="button b1 form__button")
                    a(href="/index-tags.html") Регистрация
            div.grid-container
                each imageData in imagesData.slice(0,4)
                    div.grid-container__group
                        img(src=imageData.src, alt=imageData.text)
                        p.p19=imageData.text
            div.categories__info.categories__info_active
                p.p20 Добро пожаловать в мир волшебства и творчества с нашей коллекцией детских раскрасок! Здесь вы найдёте увлекательные изображения, которые подарят вашим малышам часы радости и веселья. Наши раскраски не только развлекут, но и разовьют моторику, воображение и цветовое восприятие вашего ребёнка.
                p.p20 Почему детские раскраски так важны для развития вашего малыша? Это прекрасный способ улучшить мелкую моторику рук, координацию движений и развить творческие способности. Вместе с тем, раскрашивание изображений учит детей концентрации, терпению и вниманию к деталям.
                p.p20 В нашей коллекции детских раскрасок вы найдете разнообразные темы: от животных и природы до сказочных персонажей и мультяшных героев. Мы постоянно обновляем нашу коллекцию, чтобы предложить вашим малышам новые впечатления и возможности для творчества.


block script
    script(type='text/javascript')
