extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';

block content
    button.up-arrow
    section.film-info
        div.film-info__container
            div.film-info__block
                h1 «Три Богатыря и Пуп Земли» стал самым успешным российским мультфильмом в истории
                div.film-info__group
                    p.h20 05 апреля 2024г.
                    div.film-info__line
                    div.film-info__icon
                        img(src='assets/img/film/icon-download.svg' alt='icon-download')
                        img(src='assets/img/film/icon-heart.svg' alt='icon-heart')
                        img(src='assets/img/film/icon-printer.svg' alt='icon-printer')
            div.film-info__content
                ol.film-info__ol
                    li.p20.film-info__li-one Детские раскраски: какому возрасту какие рисунки?
                        ul
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн 
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                ul
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                    li.p20.p20.film-info__li-one Детские раскраски: какому возрасту какие рисунки?
                        ul
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн 
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                ul
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                    li.p20.p20.film-info__li-one Детские раскраски: какому возрасту какие рисунки?
                        ul
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн 
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                ul
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                    li.p20.p20.film-info__li-one Детские раскраски: какому возрасту какие рисунки?
                        ul
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн 
                            li.p20 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                ul
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей
                                    li.p12 «Три Богатыря на дальних берегах» в 2021 году заработал 933 млн рублей


            div.film-info__subtitle
                h4.h24 подзаголовок
                p.p20 Мультфильм «Три Богатыря и Пуп Земли» студии «Мельница» стал самой успешной лентой франшизы о богатырях из русских былин и самым кассовым проектом в истории российской анимации в целом. Об этом сообщает издание РБК со ссылкой на данные прокатной компании «Вольга». 
                p.p20 Фильм «Три Богатыря и Пуп Земли» вышел в кинотеатрах 28 декабря 2023 года. По сюжету однажды Змей Горыныч находит детёныша динозавра. Пытаясь понять, откуда он взялся, другие главные герои — конь Юлий, Князь и Алёша Попович — проваливаются сквозь землю и оказываются в далёком прошлом. Это двенадцатая лента франшизы «Мельницы». Первый фильм из серии «Три богатыря», которая считается самой масштабной среди полнометражных анимационных франшиз в России, вышел в 2004 году. 
                p.p20 По итогам четвёртого уик-энда в прокате картина собрала 947 млн рублей. Как отметили в прокатной компании «Вольга», это уже больше чем сборы самых успешных предыдущих частей франшизы — мультфильма




block script
    script(type='text/javascript')
