extends ../layout/emptiness

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';

block content


block script
    script(type='text/javascript')
