extends ../layout/base

block variables
    //подключаем основу для страницы и выводим в нее данные
    - var title='COLORFUN';
    - var description='COLORFUN';
    - var pageClass='index-page';
    - var imagesData = require('../../js/imagesData.json');
    - var articles = require('../../js/articles.json');
    - var categoriesHolidays = require('../../js/categoriesHolidays.json');
    - var categoriesChildren = require('../../js/categoriesChildren.json');

block content
    button.up-arrow
    section.articles
        div.articles__container.articles__container_search
            h1 Найденные статьи
            div.swiper-container
                div.grid-container.grid-container__search
                    each article in articles
                        div.grid-container__group-articles.grid-container__group-articles_search
                            button.button.button__arrow
                                div
                            img(src=article.src, alt=article.title)
                            div.grid-container__block
                                h4.h20=article.title
                                p.p17=article.text

            button.button.b1.button__search(type="submit") Смотреть все

block script
    script(type='text/javascript')
