/* Vars:
   ========================================================================== */

// Font
$mainFont: "Montserrat", "Inter", sans-serif;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 23.16px;

//Color
$colorWhite: #FFFFFF;
$colorMainFont: #1F074D;
$coloringPagesFon: #F6F2FF;
$coloringViolet: #5C25C5;
$colorBorder: #C5A7EB;
$colorFonCategories: #F6F2FF;
$colorFontCategories: #1F074D;
$colorHeaderFon: #F2F7FF;
$colorBorderBottom: #A7BAEB;
$colorFonGreen: #EAFFE9;
$colorColorWindow: #D9D9D9;
//Gradient



//Fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

//boxShadow
$boxShadow: 1px 2px 4px -1px rgba(129, 116, 150, 1);
$boxShadowTwo: 0px 20px 50px 0px rgba(108, 126, 209, 0.2);


