include ../utils/mixins

block variables
    // Это основа для страниц
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        link(rel="icon" href="/assets/img/logo.svg" type="image/svg+xml")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
        script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")

    body(class=pageClass)
        include ../includes/modules/header
        div(class="main")
            block content
        include ../includes/modules/footer
        include ../includes/modules/popup

    block script
